<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/style.css" />
    <script
      src="https://kit.fontawesome.com/a319e6b99d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="menu-btn header-icon-btn" data-menu-btn>
        <i class="fa-solid fa-bars bars"></i>
        <i class="fa-solid fa-xmark xmark"></i>
      </div>
      <a href="/" class="logo">
        <img src="/imgs/logo_watch_world.webp" alt="Logo WATCH WORLD" />
      </a>
      <nav class="menu" data-menu>
        <ul class="menu-list">
          <li><a href="/">INICIO</a></li>
          <li><a href="/views/organization.html">ORGANIZACIÓN</a></li>
          <li>
            <a href="/views/products.html">PRODUCTOS</a>
            <ul class="submenu-list">
              <li>
                <a href="/views/products.html#HOMBRE-category">HOMBRES</a>
              </li>
              <li><a href="/views/products.html#MUJER-category">MUJERES</a></li>
              <!-- <li><a href="">SMARTWATCH</a></li> -->
            </ul>
          </li>
          <li><a href="/views/contact.html">CONTACTO</a></li>
        </ul>
      </nav>
      <a href="#" class="user-btn header-icon-btn">
        <i class="fa-solid fa-user"></i>
      </a>
    </header>
    <main>
      <section class="contact-form-section">
        <div class="wrapper text-wrapper">
          <div class="text-form">
            <h1 class="thin-title">DÉJANOS UN MENSAJE</h1>
            <p>
              Para ponerse en contacto con nosotros, favor llenar el siguiente
              formulario y presionar enviar. Pronto te daremos una respuesta a
              tu requerimiento.
            </p>
          </div>
          <form class="contact-form" data-form>
            <input
              class="input"
              type="text"
              name="names"
              placeholder="Nombres"
              data-names-input
            />
            <input
              class="input"
              type="text"
              name="lastnames"
              placeholder="Apellidos"
              data-lastnames-input
            />
            <input
              class="input"
              type="tel"
              name="telephone"
              placeholder="Teléfono"
              data-telephone-input
            />
            <input
              class="input"
              type="text"
              name="subject"
              placeholder="Asunto"
              data-subject-input
            />
            <textarea
              class="input"
              name="message"
              cols="30"
              rows="10"
              placeholder="Mensaje"
              data-message-input
            ></textarea>
            <button class="submit-btn" type="submit" data-submit-btn>
              ENVIAR
            </button>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <div class="wrapper">
        <div class="chunk">
          <p class="contact-title">Canales de servicio al cliente</p>
        </div>
        <div class="chunk">
          <div class="contact-info">
            <i class="fa-solid fa-phone"></i>
            <span>593939042120</span>
          </div>
          <div class="contact-info">
            <i class="fa-solid fa-envelope"></i>
            <span>info@watchworld.com.ec</span>
          </div>
        </div>
        <div class="chunk">
          <img
            class="img-logo"
            src="/imgs/logo_watch_world.webp"
            alt="Logo WATCH WORLD"
          />
        </div>
      </div>
      <div class="rights">
        <p>
          Página Web desarrollada por <strong>Stevan Vélez Solórzano</strong>
        </p>
      </div>
    </footer>
    <script src="/js/contactForm.js"></script>
  </body>
</html>
