<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organización</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <main>
      <section class="company-info-section">
        <div class="wrapper">
          <img src="../imgs/cambio-QS.png" alt="¿Quiénes Somos?" />
          <div class="info-card">
            <h2>¿QUIÉNES SOMOS?</h2>
            <p>
              NOVACERO es una sólida empresa ecuatoriana, pionera y líder en el
              mercado desde 1973, con la mejor experiencia en la creación,
              desarrollo e implementación de soluciones de acero para la
              construcción.
            </p>
            <p>
              Soluciones que se encuentran en modernas construcciones
              industriales y agroindustriales, instalaciones comerciales,
              educativas, deportivas, de viviendas y en infraestructuras viales
              del Ecuador y el exterior.
            </p>
          </div>
        </div>
      </section>
      <section class="values-banner-section">
        <div class="values-banner">
          <div class="values-card">
            <h2>Valores</h2>
            <img src="../imgs/values.png" alt="Valores de la Empresa" />
          </div>
        </div>
      </section>
      <section class="mission-vision-section">
        <div class="card">
          <h3>Misión</h3>
          <p>
            Entregar la más amplia gama de productos y soluciones de acero que
            brinden confianza y generen valor a nuestros clientes, colaboradores
            y la comunidad en forma sostenible
          </p>

          <h3>Visión</h3>
          <p>
            Liderar la industria del acero innovando y construyendo un futuro
            sostenible.
          </p>
        </div>
      </section>
      <footer>
        <div class="wrapper">
          <div class="left-chunk">Vias Principales de Contacto:</div>
          <div class="middle-chunk">
            <div class="contact-info">
              <strong>Teléfono:</strong>
              <span>1800 668223</span>
            </div>
            <div class="contact-info">
              <strong>Email:</strong>
              <span>ventasgye@novacero.com</span>
            </div>
          </div>
          <div class="right-chunk">
            <img src="../imgs/blue-yellow-logo.png" alt="Logo Novacero" />
          </div>
        </div>
        <div class="page-credits">
          <p>
            Página Web desarrollada por <strong>Stevan Vélez Solórzano</strong>
          </p>
        </div>
      </footer>
    </main>
  </body>
</html>
