@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  font-size: 18px;
  font-family: var(--font);

  --black-clr: #000;
  --white-clr: #fff;
  --grey-clr: hsl(0 0% 50%);
  --dark-grey-clr: #1E1E1E;
  --light-grey-clr: #eee;

  --header-height: 3rem;
  --page-padding: 1.5rem;
  --max-width-content: 90vw;

  --transition: 800ms ease;

  --breakpoint-s: 600px;
  --breakpoint-m: 768px;
  --breakpoint-l: 992px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ----- HEADER ----- */

header {
  position: fixed;
  z-index: 10;
  background-color: var(--black-clr);
  color: var(--white-clr);

  width: 100%;
  height: var(--header-height);
  padding: 0 var(--page-padding);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header i {
  cursor: pointer;
  font-size: 1.3rem;
}

img {
  display: block;
}

.logo {
  z-index: 2;
}

.logo img {
  height: 30px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header-icon-btn {
  z-index: 2;
  width: 25px;
  text-align: center;
}

.menu-btn .xmark {
  font-size: 1.4rem;
  display: none;
}

.menu-btn.is-open .bars {
  display: none;
}

.menu-btn.is-open .xmark {
  display: block;
}

.menu {
  color: var(--black-clr);
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem 0;
  height: calc(100vh - var(--header-height));
  height: 100vh;
  background-color: var(--white-clr);
  /* background-color: rgb(255 255 255 / .8); */
  width: 100%;
  display: none;
}

.menu.open {
  display: block;
}


.menu ul {
  display: flex;
  flex-direction: column;
}

.menu .menu-list li a {
  padding: .6rem 1.5rem;
  font-weight: 700;
}


.menu .menu-list .submenu-list a {
  padding: .4rem 3rem;
  font-weight: 400;
}

.menu a:hover {
  background-color: var(--light-grey-clr);
  /* background-color: rgb(255 255 255 / .9); */
}


/* ----- MAIN ---- */

main {
  padding-top: var(--header-height);
  flex: 1;
}

section {
  margin: var(--page-padding) 0;
}

section:first-of-type {
  margin-top: 0;
}

/* ----- FOOTER ----- */

footer {
  border-top: 1px solid var(--black-clr);
}

footer .wrapper {
  padding: 1rem var(--page-padding);
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

footer .wrapper .chunk {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .wrapper .chunk .contact-title {
  font-weight: 700;
  font-size: 1.2rem;
}

footer .wrapper .chunk .contact-info {
  margin-bottom: .2rem;
}

footer .wrapper .chunk .contact-info i {
  font-size: 1.2rem;
}

footer .wrapper .chunk .contact-info span {
  margin-left: 0.2rem;
  ;
}

footer .wrapper .chunk .img-logo {
  width: 250px;
}

footer .rights {
  color: var(--white-clr);
  background-color: var(--dark-grey-clr);
  font-size: .9rem;
  padding: .3rem var(--page-padding);
}

/* ----- generic classes ------ */

.thin-title {
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}

.bold-title {
  font-weight: 700;
  text-align: center;
}

.text-wrapper {
  max-width: var(--max-width-content);
  margin: auto;
}

/* ------ INICIO ------ */

.banner-info-section .wrapper {
  position: relative;
}

.banner-info-section .banner {
  height: 300px;
  background-image: url(/imgs/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-info-section .info {
  /* margin: 0 var(--page-padding); */
  margin: 0 auto;
  margin-top: 1rem;
  max-width: var(--max-width-content);
}

.banner-info-section .info h1 {
  font-size: 2.3rem;
}

.banner-info-section .info p {
  text-align: justify;
}

.values-section .card {
  background-color: var(--black-clr);
  color: var(--white-clr);
  text-align: center;

  margin: auto;
  width: 30ch;
  padding: .8rem 1.5rem;
}

.values-section .card ul {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}


.products-section .wrapper {
  margin: 0 var(--page-padding);
}

.products-section .wrapper h2 {
  margin-bottom: .5rem;
}

.products-section .wrapper .categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.products-section .category {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1/1;
  /* min-width: 400px; */
  overflow: hidden;
}

.products-section .category img {
  width: 100%;
  margin-top: -3rem;
  transition: scale var(--transition);
}

.products-section .category:hover img {
  scale: 1.2;
}

.products-section .category span {
  color: var(--white-clr);
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  bottom: .4rem;
  left: 0;
  width: 100%;
  text-align: center;
}

/* ------------ ORGANIZATION ------------ */

.company-info-section .banner {
  position: relative;
}

.company-info-section .banner::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/imgs/banner_men.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .3;
  z-index: -1;
}

.company-info-section .banner .info {
  text-align: justify;
  max-width: var(--max-width-content);
  margin: auto;
  padding: 1rem 0;
}

.mission-vision-section .text-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mission-vision-section .text-wrapper .info {
  flex: 1;
}


/* ------ PRODUCTOS ------- */

/* ----- CONTACTO ----- */

.contact-text-section .text-wrapper {
  text-align: center;
  margin-top: 1rem;
}

.contact-form-section .contact-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.contact-form-section .contact-form .input {
  font-family: inherit;
  padding: .7rem .5rem;
  border: 1px solid var(--grey-clr);
  outline: none;
}

.contact-form-section .contact-form .input:focus {
  outline: 2px solid var(--black-clr);
  border-color: var(--white-clr);
  /* box-shadow: 0 0 0 2px black; */
}

.contact-form-section .contact-form .submit-btn {
  all: unset;
  cursor: pointer;
  background-color: var(--black-clr);
  color: var(--white-clr);
  width: fit-content;
  padding: .3rem 2.5rem;
  border: 2px solid var(--black-clr);
  margin: auto;
  margin-top: .5rem;
}

.contact-form-section .contact-form .submit-btn:hover,
.contact-form-section .contact-form .submit-btn:focus {
  color: var(--black-clr);
  background-color: var(--white-clr);
  font-weight: 700;
  /* outline: 2px solid var(--black-clr); */
}

@media (min-width: 600px) {

  :root {
    --max-width-content: calc(var(--breakpoint-s) - 3rem);
  }

  .products-section .wrapper .categories {
    flex-direction: row;
    justify-content: center;
  }

}

@media (min-width: 768px) {

  :root {
    --max-width-content: calc(var(--breakpoint-m) - 3rem);
  }

  .banner-info-section .info {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--breakpoint-s);
  }

  /* <footer> */
  footer .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  footer .wrapper .chunk .contact-title {
    width: 12ch;
    text-align: right;
    padding-right: .7rem;
    border-right: 1px solid var(--dark-grey-clr);
  }

  footer .wrapper .chunk .img-logo {
    margin-left: 1rem;
  }

  /* <categoria-inicio> */
  .products-section .category {
    aspect-ratio: auto;
  }

  .mission-vision-section .text-wrapper {
    flex-direction: row;
  }
}


@media (min-width: 992px) {

  :root {
    --max-width-content: calc(var(--breakpoint-l) - 3rem);
  }

  /* <menu> */
  .menu-btn {
    display: none;
  }

  .menu {
    /* position: relative; */
    top: auto;
    background-color: transparent;
    color: inherit;
    height: auto;
    /* width: auto; */
    padding: 0;
    display: block;
  }

  .menu .menu-list {
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
  }

  .menu .submenu-list {
    display: none;
  }

  .menu .menu-list li a {
    position: relative;
    padding: .2rem .2rem;
  }

  .menu .menu-list li a::after {
    content: '';
    background-color: var(--white-clr);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease;
  }

  .menu .menu-list li a:hover {
    background-color: transparent;
  }

  .menu .menu-list li a:hover::after {
    opacity: 1;
    visibility: visible;
  }

  /* <menu/> */



  /* <banner> */
  .banner-info-section .banner {
    height: 400px;
  }

  .banner-info-section .info {
    color: var(--white-clr);
    position: absolute;
    top: 0;
    left: 50%;
    width: 400px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* <banner/> */

  /* <categoria-inicio> */
  .products-section .category img {
    margin-top: 0;
  }

  /* <categoria-inicio/> */

  /* <values> */

  .values-section .card {
    width: fit-content;

  }

  .values-section .card ul {
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }

  /* <values/> */


}